/* styling the logo image on the navbar */

.img {
    width: 70px;
    height: 70px;
    float: left;
}


/* styling the navbar header text beside the logo */

.navbar-brand #spark-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    line-height: 40px;
}

.navbar-brand #spark-title:hover {
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.spark-title:hover {
    color: white;
}


/* styling the navbar proper */

.nav {
    background-color: #025292 !important;
    border-radius: 0;
    border: 0;
}


/* nav links styles */

.nav.navbar-nav.navbar-right li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 35px;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}


/* styliing then responsive navbar */

.navbar-toggle .collapsed {
    border: 1px solid white;
}

.collapsed:hover {
    background-color: white;
    color: black;
}

#collapsible-nav {
    background-color: transparent;
    color: white;
}